{{>partials/header}}

{{#list}}
    <main>
        <form class="addnote" action="/editNote/{{id}}" method="POST">
            <h2>Editar Nota</h2>
            <input class="addnote--input" type="text" placeholder="{{title}}" name="title">
            <button class="addnote-buttom" type="submit">Editar</button>
        </form>
    </main>
{{/list}}

{{>partials/footer}}