{{>partials/header}}

    <main>
        <form class="addnote" action="/addNote" method="post">
            <h2>Adicionar nota</h2>
            <input class="addnote--input" type="text" placeholder="Ex: Fazer tarefa de matemática" name="title">
            <button class="addnote-buttom"type="submit">Adicionar</button>
        </form>
    </main>

{{>partials/footer}}