{{>partials/header}}
    
    <main>
        <form class="search-area">
            <img src="images/iconSearch.png">
            <input class="search--input"type="text" placeholder="Pesquisar notas">
        </form>

        <h1>Notas</h1>

        <ul class="notes-area">
            <li class="note--item">
                <h3>Titulo da nota</h3>
                <div class="note--options">
                    <img src="images/editNoteIcon.svg" alt="">
                    <img src="images/completeNoteIcon.svg" alt="">
                </div>
            </li>
        </ul>
    </main>

{{>partials/footer}}