{{>partials/header}}
    
    <main>
        <form class="search-area">
            <img src="images/iconSearch.png">
            <input class="search--input" type="text" placeholder="Pesquisar notas">
        </form>

        <h1>Notas</h1>

        <ul class="notes-area">
        {{#list}}
            <li class="note--item">
                <h3>{{title}}</h3>
                <div class="note--options">
                    <a href="/editNoteForm/{{_id}}"><img src="images/editNoteIcon.svg"></a>
                    <a href="/completeNote/{{_id}}"><img src="images/completeNoteIcon.svg"></a>
                </div>
            </li>
        {{/list}}
        </ul>
    </main>

{{>partials/footer}}