<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>My Notes</title>
</head>
<body>
    <aside>
        <div class="aside--title">
            <div class="logo">
                <img src="/images/MyNotes.png"  >
            </div>
            
            <div class="menu-hamburguer">
                <img src="/images/menuHamgurguer.svg">
            </div>
        </div>
        
        <nav class="nav-desktop">   
            <a href="/addNoteForm" class="buttom">
                <img src="/images/addNote.svg">
            </a>

            <ul class="menu">
                <li class="menu--item">
                    <div class="menu--icon">
                        <img src="/images/iconNotes.png">
                    </div>
                  <a href="/"><p>Notas</p></a>
                </li>
                <li class="menu--item">
                    <div class="menu--icon">
                        <img src="/images/iconCompleted.png">
                    </div>
                  <a href="/completed"><p>Concluídas</p></a>
                </li>
            </ul>
        </nav>

        <nav class="nav-mobile">   
            <ul class="menu">
                <li class="menu--item">
                    <div class="menu--icon">
                        <img src="images/addNote.svg">
                    </div>
                  <a href="/addnote"><p>Adicionar Nota</p></a>
                </li>
                <li class="menu--item">
                    <div class="menu--icon">
                        <img src="images/iconNotes.png">
                    </div>
                  <a href="/"><p>Notas</p></a>
                </li>
                <li class="menu--item">
                    <div class="menu--icon">
                        <img src="images/iconCompleted.png">
                    </div>
                  <a href="/completed"><p>Concluídas</p></a>
                </li>
            </ul>
        </nav>
    </aside>